<div class="container">
        <div class="row">
            <div class="col-lg-12 red-text p-2">
              <div class="mx-auto align-item-center justify-content-center d-flex font-weight-bold" style="font-size: 24px;">
                <span class="ml-1 align-center text-center"><strong>OUR EXCEPTIONAL PASSION</strong></span>
            </div>
          </div>
                
          </div>
          <div class="row ml-5 mx-auto align-item-center justify-content-center d-flex">
              <div class="col-md-3 m-2  black mb-1">
                 
                  <div class="">
                     <i class="fa fa-address-book p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">WEB DEVELOPMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-database p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text" >DATABASE MANAGEMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-server p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">SOFTWARE ENGINEERING</strong>
                  </div>
              </div>
            </div>

            <div class="row ml-5 mb-4 mx-auto align-item-center justify-content-center d-flex">
                <div class="col-md-3 m-2  black mb-1">
                   
                    <div class="">
                       <i class="fa fa-share p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SOCIAL MEDIA MARKETING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-paw p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">GRAPHIC DESIGNING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-laptop p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SYSTEM ANALYST</strong>
                    </div>
                </div>
              </div>
    </div>