<div style="background: rgb(34, 31, 31)">
<div id="f" class="">
		<div class="container">
			<div class="row centered mx-auto d-flex justify-content-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-trello"></i></a>
                <a href="#"><i class="fa fa-yahoo"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-git"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
		 
			</div>
		</div>
	</div>

<footer class="page-footer font-small darken-3 wow fadeIn" >
    <div class="container mb-3">
      <div class="row mb-4 mt-5">
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                    <strong>ABOUT THE EXECUTIVE</strong>
                </div>
                <!-- <div class="col-md-3">
                  <img src="stylesheets/img/IMG_20180210_184952_836.jpg" alt="about image" height="80" width="100">
                </div> -->
                  <div class="col-md-12">
                      <p align="justify" style="font-size:13px;">Olabayo Segun Emmanuel nicknamed Hon. Sheygun is the Assitant Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>. A Professional in Web Development and a profounded UI/UX designer. He is also a Database Administrator, Project Manager and a Graphic Designer.</p>
                  </div>
                  <div class="col-md-12">
                      <p align="justify"  style="font-size:13px;">He is an upcoming graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World.<br>
                      His major research interest areas are Web and Software Developments. He is from the family of six and presently with Joy.</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;"><strong>CONTACT INFO</strong></div>
                  <div class="col-md-12">
                      <div class="row ml-2 mr-3">
                          <div class="col-md-4">
                              <div class="">
                                <i class="fa fa-home fa-2x ml-4"></i><br>
                                <i style="font-size: 8px;">Aspiring office</i><br>
                                <span  style="font-size:13px;">Lagos State, <br> Nigeria.</span>
                                <hr class="hr-light">
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-phone-square fa-2x ml-4"></i><br>
                                  <span  style="font-size:13px;">+234-810-212-9149<br>+234-818-062-8983</span>
                                  <hr class="hr-light">
                                </div>
                          </div>

                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-envelope fa-2x ml-4"></i><br>
                                  <span style="font-size:13px;">hollasheg@gmail.com <br> sheygun@aol.com</span><br>
                                  <span  style="font-size:13px;">Website</span>
                                  <span  style="font-size:13px;">www.samdos.com</span><br><br>
                                <span  style="font-size:13px;"><strong>HELLO GUEST</strong><br> 
                                    <a href="/login" class="btn font-weight-bold white-text"><span  style="font-size:13px;">LOGIN</span></a><br>
                                    <a href="/signup"  class="btn font-weight-bold white-text"><span  style="font-size:13px;">SIGN UP</span></a></span>
                                </div>
                          </div>
                      </div>
                  </div>
                  
                </div>
            </div>


          </div>
        </div>
 
      <div class="black">
        <div class="footer-copyright text-center py-3 h6" style="margin: 0px;"> Copyright © 2018 
            <a href="http://samdos.herokuapp.com">Samdos Technology</a>
          <!-- <a href="google.com"> Sheygun Technology</a> -->
        </div>
      </div>
  </footer>

</div>

  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>

  <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
        <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/jquery.backstretch.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/retina-1.1.0.min.js"></script>
        <script src="stylesheets/js/scripts.js"></script>


        
        <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="stylesheets/js/styleswitch.js"></script> 
<script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="stylesheets/js/swipe.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>

<script src="stylesheets/js/main.js"></script>
    </body>
</html>
