<head>
    <meta name="google-site-verification" content="yXhnZ5jr1MOkOsDMsPhs-OPfovJtkMa5sVGSVlm4Kck" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> samdos</title>
  <link rel="shortcut icon" href="stylesheets/img/logo.jpg">
  <!-- Font Awesome -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="stylesheets/css/style.css" rel="stylesheet">
  <link href="stylesheets/css/asststyle.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fontawesome-free-5.4.1-web/css/all.css"/> -->

  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
 

 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/style.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">      
        
        
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
    
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>

       

</head>