<div class="mynav mt-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar navbar-color">
        <h1 class="green-text font-weight-bold h1 animated rotateIn">SAMD<i class="fa fa-circle"></i>S</h1>
        <!-- <img src="stylesheets/img/samdos.jpeg" class="img-logo"> -->
          <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
            <span class="redtext"></span></strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <ul class="nav navbar-nav ml-auto smooth-scroll" style="font-size:14px;">
                
                          <li class="nav-item ">
                            <a class="nav-link" href="/home"><i class="fa fa-home"></i>HOME
                              <span class="sr-only">(current)</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-user"></i> BLOGS</a>
                          </li>

                          <li class="nav-item">
                              <a class="nav-link waves-effect waves-light" href="/tutorial"><i class="fa fa-tasks"></i> TUTORIALS</a>
                            </li>
                          
                         
                          <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>BOOKS</a>
                            <div class="dropdown-menu dropdown-primary brown white-text" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item waves-effect waves-light disabled green-text font-weight-bold" href="#">CSC 337 Material Dr. Rahman</a>
                              <a class="dropdown-item waves-effect waves-light green-text font-weight-bold" href="#">DR WUSU NUMERICAL ANALYSIS PDF MAT332</a>
                             
                            </div>
                          </li> -->

                          <li class="nav-item">
                                  <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-fax"></i>FEEDBACK</a>
                          </li>
                          <li class="nav-item">
                                  <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i>SEARCH</a>
                          </li>
                            
                    
                        </ul>
          </div>
      </nav>
</div>
