<div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
          <div class="align-center justify-content-center d-flex brown p-4 ">
              <div class=" font-weight-bold white-text text-center title-header">OTHER STORIES YOU MAY LIKE </div> 
      
          </div>
        </div>
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr class="text-center">
              <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
            </tr>

            <tr class="text-center">
                <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
            </tr>

            <tr class="text-center">
                <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
            </tr>

            <tr class="text-center">
                <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
            </tr>

            <tr class="text-center">
                <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>