<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> SAMDOS EXPRESS</title>
  <link rel="shortcut icon" href="stylesheets/img/logo.jpg">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="stylesheets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fontawesome-free-5.4.1-web/css/all.css"/>
</head>

</head>

<body>

    <!--Main Navigation--> 
            <div class="mynav mt-5">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar brown">
                    <img src="stylesheets/img/samdos.jpeg" class="img-logo">
                      <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
                        <span class="redtext"></span></strong></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
                              <ul class="nav navbar-nav ml-auto smooth-scroll">
                            
                                      <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light active" href="/home"><i class="fa fa-home"></i>HOME
                                          <span class="sr-only">(current)</span>
                                        </a>
                                      </li>
                                      <li class="nav-item active">
                                        <a class="nav-link waves-effect waves-light" href="/blog5"><i class="fa fa-pen"></i> BLOG</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="#gallery"><i class="fa fa-desktop"></i>ADVERTS</a>
                                      </li>
                                      
                                      <!-- Dropdown -->
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>BOOKS</a>
                                        <div class="dropdown-menu dropdown-primary brown white-text" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item waves-effect waves-light disabled green-text font-weight-bold" href="#">CSC 337 Material Dr. Rahman</a>
                                          <a class="dropdown-item waves-effect waves-light green-text font-weight-bold" href="#">DR WUSU NUMERICAL ANALYSIS PDF MAT332</a>
                                         
                                        </div>
                                      </li>
                                      <li class="nav-item">
                                              <a class="nav-link waves-effect waves-light" href="#contact"><i class="fa fa-fax"></i>FEEDBACK</a>
                                      </li>
                                      <li class="nav-item">
                                              <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i>SEARCH</a>
                                      </li>
                                
                                
                                    </ul>
                      </div>
                  </nav>
            </div>
    <!--Main Navigation--><br>

           <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12 mx-auto d-flex align-item-center text-center justify-content-center red-text font-weight-bold m-3 title-header">
                        <span class="text-uppercase">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</span>
                    </div>
                        <div class="col-md-4 ">
                            <img src="stylesheets/img/pexels-photo.jpg" class="img-fluid" alt="about image" height="250" width="350">
                        </div>
                        <div class="col-md-8">
                            <p align="justify">
                              I’d wager failure is pretty high up on the list. Especially if you’re a small business owner.
                              As you know, it’s great to be able to run your own business. But there are responsibilities that go with the freedom. Screw up badly enough, for long enough, and your business will fail. You’ll fail.
                              Fortunately, this doesn’t have to be as scary as it sounds. While most small businesses do fail, yours doesn’t have to be among them. Even more fortunately, the things that cause small businesses to fail are oddly consistent. There’s a surprisingly small pack of causes that tend to do them in.
                              This is good news for you. Because if you know what those causes are and how to deal with them, then you’ve just knocked out most of the things that could bring your business down. This makes the path to success much clearer.
                              So you probably want to know what these causes are, right? Great. Keep reading.
                            </p>
                            <p><a href="blog4">YOU TOO CAN BE KNOWN</a></p>
                            <ol>
                              <li><strong>The owners didn’t verify the market</strong><br>
                                Ever had a plan look beautiful on paper, only to fall flat in the real world? That’s what I’m talking about here.
                                Note that I wrote “verify” your market, too. Don’t just confirm it exists. You need to verify that those people are interested in what you want to sell.
                                In a study of 101 startups that failed, CBInsights found that “No Market Need” was the 1 reason companies failed. So how do you avoid this?
                                Start small, then scale. Try a food truck or a table at a farmer’s market or a craft fair. Try a pop-up shop. Try a one-time event at an existing business, or a few events around different parts of town. Whatever you do, don’t solely rely on text-based research. Don’t rely on what people say they’ll do. Confirm they will hand over dollars for your product or services.
                                You’re already risking enough to start this thing—make sure you know there’s demand for what you want to sell or do.
                               </li>
                              
                               <br><li><strong>They didn’t understand the full scope of what running a business requires</strong><br>
                                  Stop me if you’ve heard this story: A star employee gets tired of his employer. He leaves and sets up his own shop, then nearly drowns in the nuts and bolts of running his business. He barely ever gets time to do the thing he so excelled at in his old job.
                                  This happens a lot, but it is a manageable problem.
                                  To solve the problem, you’ll need to demonstrate the two skills that are critical for small business owners: The ability to learn and the ability to adapt. And here’s why these are so essential. Anyone of reasonable intelligence can learn the basics of running a business. If they don’t like certain parts of running their business, or they’re just not good at them, they can hire someone else to do that work.
                                  Take marketing, for example. Most small business owners aren’t enthusiastic about it, but only 14% of them outsource their marketing, public relations and advertising. That’s a missed opportunity, both as a way to get more business, and a way for the small business owner to save some time.</li>
                                  <p><a href="blog3">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</a></p>

                                  <br><li><strong>They didn’t understand the business they were going into</strong><br>
                                  This one seems particularly hazardous for new restaurant owners. How hard could it be to run a restaurant, right? You’re an awesome cook already—you just need a great location, some staff, and enough money to equip the place and stay open for a few months until you hit operating costs. Right?
                                  Um, no. Remember: You’re not just running the restaurant. You’re the owner. You’re responsible for all the financing, the legal issues, the staffing issues, the certifications (including that coveted liquor license), the food sourcing . . . and all the other problems that will arise from any one of those systems.
                                  One particular area of difficulty that people don’t expect? Employees. Notice how “Not the Right Team” came in third in the CBInsights study of why startups fail? Finding the right team is hard. In the WASP Barcode Technologies’ 2017 “ State of Small Business Report ,” we found that hiring employees is one of the biggest challenges in small business.
                                  So how to avoid this? Get some experience. You need experience in the industry your business is in, and experience in what’s it’ll be like to run your business, including managing employees.</li>
                               
                                  <br> <li><strong>Recessions, fires, lawsuits, medical events, and other unforeseen disasters</strong><br>
                                  Staying afloat when things are going well for your business is not enough. Your business needs to be disaster-proof. So how do you make it disaster-proof?
                                  Have enough insurance. Good insurance. Reliable insurance. Maybe even a backup policy.
                                  Have enough staff to cover when people get sick.
                                  Have enough money to make it through at least six months if your revenue is cut.
                                  Train your employees well enough that if you had a medical event and couldn’t do anything for your business for two or three months, that they could take over.
                                  That’s just a few ways to avert a problem. Realistically, you should also be ready for two bad things to happen at once. If you’re in business long enough, it’s going to happen. It’s not an “if”—it’s a “when.”</li>
                                
                                  <br><li><strong> Insufficient funding</strong><br>
                                  Alas, most of us on Main Street do not have access to the coffers of Silicon Valley or to the riches of Wall Street. It can be hard to get a loan . . . especially when your business is in a position when it needs a loan.
                                  I don’t recommend funding via credit cards (or via 401(k)s, or via second mortgages), but they have gotten businesses through tough times. And let’s face it, there’s no complete solution to funding. As mentioned earlier, it can be hardest to get when you need it the most.
                                  However, some advice:
                                  Keep your overhead as low as possible. Make it modular if you can, so you could cut off a couple of large expenses and still operate—(kind of like the business version of going into hibernation).
                                  Never think you’ve got money. In other words, stay thrifty. Really thrifty—even when there’s money in the bank.
                                  Keep your eye out for new ways to monetize your business. If you stay in business for more than a decade, odds are that you’ll need to pivot at least once over that period. The world is changing fast.
                                  So flex with it. Don’t be like the old handheld calculator company that refused to invest in computers. There are always opportunities, even in full-on depressions. We just need the eyes to see them.
                                  So those are the boogeymen of small businesses. But let’s not be all doom and gloom.</li>
                                
                                </ol>
                                <p><a href="blog2">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</a></p>

                                <p><strong> Why do companies succeed?</strong><br>
                                  That’s what Bill Gross, the founder of Idealab , thought he knew. Until he looked at the data—his own data. And he learned it wasn’t necessarily having a great idea that made a business work. It wasn’t having enough funding. Or having an awesome team. It was… timing.
                                  So there’s a question to ask yourself, before you take out the loan, hire anyone, or quit your day job. Is the timing right for your business? Is this an idea whose time has come?</p>
                                <p><strong> Why do companies succeed?</strong><br>
                                    That’s what Bill Gross, the founder of Idealab , thought he knew. Until he looked at the data—his own data. And he learned it wasn’t necessarily having a great idea that made a business work. It wasn’t having enough funding. Or having an awesome team. It was… timing.
                                    So there’s a question to ask yourself, before you take out the loan, hire anyone, or quit your day job. Is the timing right for your business? Is this an idea whose time has come?</p>
                                    <p>reference -- www.allbusiness.com/5-reasons-small-business-fail-avoid-pitfalls-114393-1 html</p>
                                  </div>
                               
                        <div class="col-md-12">
                            
                        </div>
                    </div>
           </div>










        <!-- Card -->
    <div class="container">
      <div class="row">

        <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
          <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">OTHER WONDERFUL BLOGS</p>
        </div>


        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <!-- Card -->
            <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->

                <!-- Title -->
                <h6 class="card-title text-center text-uppercase">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="text-editting card-text white-text mb-4">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                    So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                <!-- Link -->
                <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>

        <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">

                <div class="card">
        
                  <!-- Card image -->
                  <div class="view overlay">
                    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1181675.jpeg" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-strong"></div>
                    </a>
                  </div>
                
                  <!-- Card content -->
                  <div class="card-body elegant-color white-text rounded-bottom">
                
                    <!-- Social shares button -->
                    <!-- Title -->
                    <h6 class="card-title text-center">HOW TO DEVELOP YOUR OWN WEBSITES</h6>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system. All you need ...</p>
                    <!-- Link -->
                    <a href="/blog1" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                
           
                  </div>
                
                </div></div>

                <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                        <!-- Card -->
                        <!-- Card Dark -->
            <div class="card">
            
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->
            
                <!-- Title -->
                <h6 class="card-title text-center text-uppercase">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
                <!-- Link -->
                <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
            <!-- Card Dark -->
                          <!-- Card -->
                      </div>

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
             <!-- Card -->
             <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-strong"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->
                
                <!-- Title -->
                <h6 class="card-title text-uppercase">you to can be known </h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...</p>
                <!-- Link -->
                <a href="/blog4" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>
        </div></div>

       
<div class="row">
  <div class="col-lg-6">             
 <div class="container" >              
<!--Carousel Wrapper--><i id="gallery"></i>

<div class="row">
    <div class="col-lg-12">
            <div class="text-center justify-content-center m-3 d-flex font-weight-bold red-text" style="font-size: 30px;">ADVERTS <i class="fa fa-desktop fa-1x red-text m-2"></i></div>
    </div>
</div>
  <div class="col-lg-9 col-md-8 col-sm-8 mx-auto">
      <div id="carousel-example-2" class="carousel slide carousel-fade mb-5 tope" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/advert.jpeg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h3-responsive">Let's help you publish your product</h6>
          <div class="mask rgba-black-strong"></div>
          <!-- <p>First text</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/samdos.jpeg" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Advertise here</h3>
          <!-- <p>Secondary text</p> -->
        </div>
      </div>

      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/logo.jpg" alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Advertise here</h3>
            <!-- <p>Secondary text</p> -->
          </div>
        </div>


    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div> <i id="contact"></i>
  </div>
  <!--/.Carousel Wrapper--></div></div>


<div class="col-lg-5"> 
<div class="row" id="signup">
    <div class="mx-auto mb-4  container" style="width: 600px;"><br>
                <!-- Material form register -->
 <div class="container">
<div class="card mt-1 ">

    <h5 class="card-header brown white-text text-center py-4">
        <strong><i class="fa fa-fax mr-3 text-uppercase"></i>FEEDBACK</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  action="/error" method="GET">

        
            <!-- First name -->
            <div class="md-form">
                <input type="text" id="materialRegisterFormFirstName" class="form-control">
                <label for="materialRegisterFormFirstName">First name</label>
            </div>
           <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormLastName" class="form-control">
                <label for="materialRegisterFormLastName">Last name</label>
            </div>
    
    <!-- E-mail -->
    <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail" class="form-control">
        <label for="materialRegisterFormEmail">E-mail</label>
    </div>
    <!-- Phone number -->
    <div class="md-form">
        <textarea type="text" id="materialRegisterFormText" class="form-control p-1" aria-describedby="materialRegisterFormPhoneHelpBlock"></textarea>
        <label for="materialRegisterFormText">Messages</label>
        
    </div>
    
    <!-- Newsletter -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
        <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>
    
    <div class="md-form">
        </i><input type="submit" name="submit" class="btn btn-brown" value="SUBMIT">
    </div>
    
    </form>
    <!-- Form -->
       

    </div>
    
    

</div></div>
<!-- Material form register -->
            </div>
          </div>
        
        </div></div>

          <!-- carousel -->

          <div class="row">
            <div class="col-lg-12 red-text p-2">
              <div class="mx-auto align-item-center justify-content-center d-flex font-weight-bold" style="font-size: 24px;">
                <span class="ml-1 align-center text-center"><strong>OUR EXCEPTIONAL PASSION</strong></span>
            </div>
          </div>
                
          </div>
          <div class="row ml-5 mx-auto align-item-center justify-content-center d-flex">
              <div class="col-md-3 m-2  black mb-1">
                 
                  <div class="">
                     <i class="fa fa-address-book p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">WEB DEVELOPMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-database p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text" >DATABASE MANAGEMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-server p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">SOFTWARE ENGINEERING</strong>
                  </div>
              </div>
            </div>

            <div class="row ml-5 mb-4 mx-auto align-item-center justify-content-center d-flex">
                <div class="col-md-3 m-2  black mb-1">
                   
                    <div class="">
                       <i class="fa fa-share p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SOCIAL MEDIA MARKETING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-paw p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">GRAPHIC DESIGNING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-laptop p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SYSTEM ANALYST</strong>
                    </div>
                </div>
              </div>




      <!-- Footer -->
<footer class="page-footer font-small brown darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row mb-4">
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                    <strong>ABOUT US</strong>
                </div>
                <div class="col-md-3">
                  <img src="stylesheets/img/IMG_20180210_184952_836.jpg" alt="about image" height="80" width="100">
                </div>
                  <div class="col-md-9">
                      <p align="justify">Olabayo Segun Emmanuel popularly known as Hon. Sheygun is the Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>, A Developer of Professional Websites, Database Administrator, Software programmer, Project Manager and a Software Engineer.</p>
                  </div>
                  <div class="col-md-12">
                      <p align="justify">He is a graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World.<br>
                      His major research interest areas are Web and Software Developments. He is from the family of six.</p>
                  </div>
              </div>
          </div>
  
  
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                      <strong>CONTACT INFO</strong>
                  </div>

                  <div class="col-md-12">
                      <div class="row ml-2 mr-3">
                          <div class="col-md-4">
                            <div class="">
                              <i class="fa fa-home fa-2x ml-4"></i><br>
                              <span>Adewale Awolowo Rd, Lekki Phase1,<br>Victoria Island, <br> Lagos State, <br> Nigeria.</span>
                              <hr class="hr-light">
                            </div>
                              
                          </div>
                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-phone-square fa-2x ml-4"></i><br>
                                  <span>+234-810-212-9149<br>+234-818-062-8983</span>
                                  <hr class="hr-light">
                                </div>
                          </div>

                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-envelope fa-2x ml-4"></i><br>
                                  <span>hollasheg@gmail.com<br>hollabayorsheygun@yahoo.com<br> sheygun@aol.com</span>
                                  <span>Website</span>
                                  <span>www.samdos.com</span>
                                  
                                </div>
                          </div>

                  </div>
                  </div>
                  
                </div>
            </div>


          </div>
        </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 mb-0">Terms and Conditions Apply</div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Sheygun Technology</a>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- Footer -->


    <!--Main Layout-->
  <!-- /Start your project here-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
    </body>
</html>
