<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> SAMDOS EXPRESS</title>
  <link rel="shortcut icon" href="stylesheets/img/logo.jpg">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="stylesheets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fontawesome-free-5.4.1-web/css/all.css"/>
</head>

</head>

<body>

    <!--Main Navigation--> 
            <div class="mynav mt-5">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar brown">
                    <img src="stylesheets/img/samdos.jpeg" class="img-logo">
                      <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
                        <span class="redtext"></span></strong></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
                              <ul class="nav navbar-nav ml-auto smooth-scroll">
                            
                                      <li class="nav-item ">
                                        <a class="nav-link waves-effect waves-light active" href="/home"><i class="fa fa-home"></i>HOME
                                          <span class="sr-only">(current)</span>
                                        </a>
                                      </li>
                                      <li class="nav-item active">
                                        <a class="nav-link waves-effect waves-light" href="/blog1"><i class="fa fa-pen"></i> BLOG</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" href="#advert"><i class="fa fa-desktop"></i>ADVERTS</a>
                                      </li>
                                      
                                      <!-- Dropdown -->
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>BOOKS</a>
                                        <div class="dropdown-menu dropdown-primary brown white-text" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item waves-effect waves-light disabled green-text font-weight-bold" href="#">CSC 337 Material Dr. Rahman</a>
                                          <a class="dropdown-item waves-effect waves-light green-text font-weight-bold" href="#">DR WUSU NUMERICAL ANALYSIS PDF MAT332</a>
                                         
                                        </div>
                                      </li>
                                      <li class="nav-item">
                                              <a class="nav-link waves-effect waves-light" href="#contact"><i class="fa fa-fax"></i>FEEDBACK</a>
                                      </li>
                                      <li class="nav-item">
                                              <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i>SEARCH</a>
                                      </li>
                                
                                
                                    </ul>
                      </div>
                  </nav>
            </div>
    <!--Main Navigation--><br>

           <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12 mx-auto d-flex align-item-center text-center justify-content-center red-text font-weight-bold m-3 title-header">
                        <span>HOW TO DEVELOP YOUR OWN WEBSITES</span>
                    </div>
                        <div class="col-md-4 ">
                            <img src="stylesheets/img/pexels-photo-1181675.jpeg" alt="about image" class="img-fluid" height="300" width="350">
                        </div>
                        <div class="col-md-8">
                            <p align="justify">Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system.<br>
                              Facebook, Twitter, Instagram, Google and the likes are wonderful and best rated websites(softwares) in the world. It all started 
                              small. Though, programming language(s) used in creating those websites might differs, but they 
                              all get to their goals and destination called "success".
                            </p>
                            <p align="justify"> You too can own a world recommended website that change lives positively. 
                              All you need to do is simply get the knowledge of how it's been created before creating one. <br>
                              "<i>KNOWLEDE is the main key to successful website."</i> check out our blog on how you can be known by <a href="/blog4" class="blue-text">clicking here</a><br>
                           </p>
                            <p><a href="blog2">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</a></p>
                            
                           <span class="text-center mx-auto d-flex align-item-center justify-content-center font-weight-bold">Let's get started</span>
                           <p>To build your website as a beginner, you need to learn and understand this basic tools below</p>
                           <ul>
                             <li>HTML (HyperText Markup Language): which apparently is the first basic language you must learn before you create your beautiful and stunning website. At w3schools.com, you can find complete reference about the tags, 
                               attributes, events, color names, entities, character-set, URL encoding, language codes, HTTP messages and more.
                             </li><br>
                             <li>CSS (Cascading Style Sheet): This is a stylesheet language that describe the presentation of an HTML or (XML) document; CSS describe 
                               how elements must be rendered on screen, on paper, or in other media.
                             </li><br>
                             <li>Other tools needed in building a professional website are languages like JAVASCRIPT, PYTHON etc.</li>
                           </ul>
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                    </div>
           </div>










        <!-- Card -->
    <div class="container">
      <div class="row">

        <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
          <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">OTHER WONDERFUL BLOGS</p>
        </div>


          <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">

        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-strong"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
        
            <!-- Social shares button -->
            <!-- Title -->
            <h6 class="card-title text-uppercase text-center">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</h6>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">I’d wager failure is pretty high up on the list. Especially if you’re a small business owner. 
                          As you know, it’s great to be able to run your own business...</p>
                        <!-- Link -->
                        <a href="/blog5" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                    
   
          </div>
        
        </div></div>

  <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <!-- Card -->
            <!-- Card Dark -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->

    <!-- Title -->
    <h6 class="card-title text-center text-uppercase">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
    <!-- Link -->
    <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>

  </div>

</div>
<!-- Card Dark -->
              <!-- Card -->
          </div>

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <!-- Card -->
            <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->

                <!-- Title -->
                <h6 class="card-title text-center text-uppercase">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="text-editting card-text white-text mb-4">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                    So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                <!-- Link -->
                <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>
        

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
             <!-- Card -->
             <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-strong"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->
                
                <!-- Title -->
                <h6 class="card-title text-uppercase">you to can be known </h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...</p>
                <!-- Link -->
                <a href="/blog4" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>
        </div>

<div class="row">
  <div class="col-lg-6">             
 <div class="container" >              
<!--Carousel Wrapper--><i id="advert"></i>

<div class="row">
    <div class="col-lg-12">
            <div class="text-center justify-content-center m-3 d-flex font-weight-bold red-text" style="font-size: 30px;">ADVERTS <i class="fa fa-desktop fa-1x red-text m-2"></i></div>
    </div>
</div>
  <div class="col-lg-9 col-md-8 col-sm-8 mx-auto">
      <div id="carousel-example-2" class="carousel slide carousel-fade mb-5 tope" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/advert.jpeg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h3-responsive">Let's help you publish your product</h6>
          <div class="mask rgba-black-strong"></div>
          <!-- <p>First text</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/samdos.jpeg" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Advertise here</h3>
          <!-- <p>Secondary text</p> -->
        </div>
      </div>

      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/logo.jpg" alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Advertise here</h3>
            <!-- <p>Secondary text</p> -->
          </div>
        </div>


    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div> <i id="contact"></i>
  </div>
  <!--/.Carousel Wrapper--></div></div>


<div class="col-lg-5"> 
<div class="row" id="signup">
    <div class="mx-auto mb-4  container" style="width: 600px;"><br>
                <!-- Material form register -->
 <div class="container">
<div class="card mt-1 ">

    <h5 class="card-header brown white-text text-center py-4">
        <strong><i class="fa fa-fax mr-3 text-uppercase"></i>FEEDBACK</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  action="/error" method="GET">

        
            <!-- First name -->
            <div class="md-form">
                <input type="text" id="materialRegisterFormFirstName" class="form-control">
                <label for="materialRegisterFormFirstName">First name</label>
            </div>
           <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormLastName" class="form-control">
                <label for="materialRegisterFormLastName">Last name</label>
            </div>
    
    <!-- E-mail -->
    <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail" class="form-control">
        <label for="materialRegisterFormEmail">E-mail</label>
    </div>
    <!-- Phone number -->
    <div class="md-form">
        <textarea type="text" id="materialRegisterFormText" class="form-control p-1" aria-describedby="materialRegisterFormPhoneHelpBlock"></textarea>
        <label for="materialRegisterFormText">Messages</label>
        
    </div>
    
    <!-- Newsletter -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
        <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>
    
    <div class="md-form">
        </i><input type="submit" name="submit" class="btn btn-brown" value="SUBMIT">
    </div>
    
    </form>
    <!-- Form -->
       

    </div>
    
    

</div></div>
<!-- Material form register -->
            </div>
          </div>
        
        </div></div></div>

          <!-- carousel -->

          <div class="row">
            <div class="col-lg-12 red-text p-2">
              <div class="mx-auto align-item-center justify-content-center d-flex font-weight-bold" style="font-size: 24px;">
                <span class="ml-1 align-center text-center"><strong>OUR EXCEPTIONAL PASSION</strong></span>
            </div>
          </div>
                
          </div>
          <div class="row ml-5 mx-auto align-item-center justify-content-center d-flex">
              <div class="col-md-3 m-2  black mb-1">
                 
                  <div class="">
                     <i class="fa fa-address-book p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">WEB DEVELOPMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-database p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text" >DATABASE MANAGEMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-server p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">SOFTWARE ENGINEERING</strong>
                  </div>
              </div>
            </div>

            <div class="row ml-5 mb-4 mx-auto align-item-center justify-content-center d-flex">
                <div class="col-md-3 m-2  black mb-1">
                   
                    <div class="">
                       <i class="fa fa-share p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SOCIAL MEDIA MARKETING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-paw p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">GRAPHIC DESIGNING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-laptop p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SYSTEM ANALYST</strong>
                    </div>
                </div>
              </div>




      <!-- Footer -->
<footer class="page-footer font-small brown darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row mb-4">
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                    <strong>ABOUT US</strong>
                </div>
                <div class="col-md-3">
                  <img src="stylesheets/img/IMG_20180210_184952_836.jpg" alt="about image" height="80" width="100">
                </div>
                  <div class="col-md-9">
                      <p align="justify">Olabayo Segun Emmanuel popularly known as Hon. Sheygun is the Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>, A Developer of Professional Websites, Database Administrator, Software programmer, Project Manager and a Software Engineer.</p>
                  </div>
                  <div class="col-md-12">
                      <p align="justify">He is a graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World.<br>
                      His major research interest areas are Web and Software Developments. He is from the family of six.</p>
                  </div>
              </div>
          </div>
  
  
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                      <strong>CONTACT INFO</strong>
                  </div>

                  <div class="col-md-12">
                      <div class="row ml-2 mr-3">
                          <div class="col-md-4">
                            <div class="">
                              <i class="fa fa-home fa-2x ml-4"></i><br>
                              <span>Adewale Awolowo Rd, Lekki Phase1,<br>Victoria Island, <br> Lagos State, <br> Nigeria.</span>
                              <hr class="hr-light">
                            </div>
                              
                          </div>
                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-phone-square fa-2x ml-4"></i><br>
                                  <span>+234-810-212-9149<br>+234-818-062-8983</span>
                                  <hr class="hr-light">
                                </div>
                          </div>

                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-envelope fa-2x ml-4"></i><br>
                                  <span>hollasheg@gmail.com<br>hollabayorsheygun@yahoo.com<br> sheygun@aol.com</span>
                                  <span>Website</span>
                                  <span>www.samdos.com</span>
                                  
                                </div>
                          </div>

                  </div>
                  </div>
                  
                </div>
            </div>


          </div>
        </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 mb-0">Terms and Conditions Apply</div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Sheygun Technology</a>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- Footer -->


    <!--Main Layout-->
  <!-- /Start your project here-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
    </body>
</html>
