<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
        <!-- <div class="row mb-5 animated bounceInDown" style="margin-top: 70px;">    -->
                  
           <div class="">
			    <section id="page_head" class="row" style="margin-top: 50px; background: rgb(44, 46, 49)">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="page_title">
								<h2>Samdos express blogs</h2>
							</div>
							<nav id="breadcrumbs">
								<ul>
									<li>You are here:</li>
									<li><a href="/">Home</a></li>
									<li>Blogs</li>
								</ul>
							</nav>
						</div>
					</section>
		   </div>


            <section class="content blog">
				<div class="row">

					<div class="col-md-8">

						<div class="row">

							<div class="col-md-4 col-sm-6 my-5">
								<div class="container">
										<div class="view overlay">
												<a href="/blog1">
													<img class="img-fluid" src="stylesheets/img/pexels-photo-1181675.jpeg" alt="blog post">
														<div class="mask rgba-red-slight"></div>
												
												</a>
											</div>
							
								</div>
							</div>

								<div class="col-md-8 my-5">
									<div>
										<h2 class="text-center"><a href="/blog1" class="header-blog">HOW TO DEVELOP YOUR OWN WEBSITES</a></h2>
									</div>
									<div class="metaInfo">
											<span><i class="fa fa-user"></i> By <a href="#">Sheygun</a> </span>
											<span><i class="fa fa-comments"></i> <a href="#">0 Comments</a></span>
										</div>
										
										<p>Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system.<br>
											Facebook, Twitter, Instagram, Google and the likes are wonderful ...
										</p>
										<span>date posted: 12/12/2018, 02:23 pm</span> <br>
										<a class="btn btn-blue" href="/blog1" style="font-size: 14px;">Read More</a>
									
								</div>

						</div>
						
						<hr>

						<div class="row">

								<div class="col-md-4 col-sm-6 my-5">
									<div class="container">
										<div class="view overlay">
											<a href="/blog5">
												<img class="img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="blog post">
													<div class="mask rgba-red-slight"></div>
											
											</a>
										</div>
									</div>
								</div>
	
									<div class="col-md-8 my-5">
										<div>
											<h2 class="text-center"><a href="/blog5" class="header-blog">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></h2>
										</div>
										<div class="metaInfo">
												<span><i class="fa fa-user"></i> By <a href="#">Sheygun</a> </span>
												<span><i class="fa fa-comments"></i> <a href="#">0 Comments</a></span>
											</div>
											
											<p>I’d wager failure is pretty high up on the list. Especially if you’re a small business owner. 
												As you know, it’s great to be able to run your own business...</p>
											<span>date posted: 12/12/2018, 02:23 pm</span> <br>
											<a class="btn btn-blue" href="blog5" style="font-size: 14px;">Read More</a>
										
									</div>
	
							</div><hr>

							<div class="row">

								<div class="col-md-4 col-sm-6 my-5">
									<div class="container">
											<div class="view overlay">
													<a href="/blog2">
														<img class="img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="blog post">
															<div class="mask rgba-red-slight"></div>
													
													</a>
												</div>
										
									</div>
								</div>
	
									<div class="col-md-8 my-5">
										<div>
											<h2 class="text-center"><a href="/blog2" class="header-blog">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</a></h2>
										</div>
										<div class="metaInfo">
												<span><i class="fa fa-user"></i> By <a href="#">Sheygun</a> </span>
												<span><i class="fa fa-comments"></i> <a href="#">0 Comments</a></span>
											</div>
											
											<p>The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...
											</p>
											<span>date posted: 12/12/2018, 02:23 pm</span> <br>
											<a class="btn btn-blue" href="/blog2" style="font-size: 14px;">Read More</a>
										
									</div>
	
							</div> <hr>

							<div class="row">

								<div class="col-md-4 col-sm-6 my-5">
									<div class="container">
											<div class="view overlay">
													<a href="/blog3">
														<img class="img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="blog post">
															<div class="mask rgba-red-slight"></div>
													
													</a>
												</div>
									
									</div>
								</div>
	
									<div class="col-md-8 my-5">
										<div>
											<h2 class="text-center"><a href="blog3" class="header-blog">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</a></h2>
										</div>
										<div class="metaInfo">
												<span><i class="fa fa-user"></i> By <a href="#">Sheygun</a> </span>
												<span><i class="fa fa-comments"></i> <a href="#">0 Comments</a></span>
											</div>
											
											<p>Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
												So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...
											</p>
											<span>date posted: 12/12/2018, 02:23 pm</span> <br>
											<a class="btn btn-blue" href="/blog3" style="font-size: 14px;">Read More</a>
										
									</div>
	
							</div> <hr>

							<div class="row">

								<div class="col-md-4 col-sm-6 my-5">
									<div class="container">
											<div class="view overlay">
													<a href="/blog4">
														<img class="img-fluid" src="stylesheets/img/iphone.jpg" alt="blog post">
															<div class="mask rgba-red-slight"></div>
													
													</a>
												</div>
									
									</div>
								</div>
	
									<div class="col-md-8 my-5">
										<div>
											<h2 class="text-center"><a href="blog4" class="header-blog text-capitalize">you to can be known</a></h2>
										</div>
										<div class="metaInfo">
												<span><i class="fa fa-user"></i> By <a href="#">Sheygun</a> </span>
												<span><i class="fa fa-comments"></i> <a href="#">0 Comments</a></span>
											</div>
											
											<p>Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...
											</p>
											<span>date posted: 12/12/2018, 02:23 pm</span> <br>
											<a class="btn btn-blue" href="/blog4" style="font-size: 14px;">Read More</a>
										
									</div>
	
							</div>
							<div class="container">
								<div class="d-flex align-item-center h-100 justify-content-center">
								  <nav aria-label="Page navigation example">
									<ul class="pagination pagination-circle pg-blue ">
									  
									  <li class="page-item disabled"><a class="page-link"  style="font-size: 14px;">Prev</a></li>
									  <li class="page-item disabled">
										<a class="page-link" aria-label="Previous">
										  <span aria-hidden="true"  style="font-size: 14px;">&laquo;</span>
										  <span class="sr-only">Previous</span>
										</a>
									  </li>
									  <li class="page-item active"><a class="page-link"  style="font-size: 14px;">1</a></li>
									  <li class="page-item">
										<a class="page-link" aria-label="Next">
										  <span aria-hidden="true" style="font-size: 14px;">&raquo;</span>
										  <span class="sr-only">Next</span>
										</a>
									  </li>
									  <li class="page-item"><a class="page-link" href="#" style="font-size: 14px;" >Next</a></li><i id="gallery"></i>
									</ul>
								  </nav>
								</div>
							  </div>

							
					</div>
					
					<div class="col-md-4">
						<div class="sidebar">
							<div class="widget widget_search">
								<div class="site-search-area">
									<form method="get" id="site-searchform" action="#">
										<div>
											<input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text" />
											<a href="/error"><button id="searchsubmit" class="red-text" type="button">Search</button></a>
										</div>
									</form>
								</div>
							</div>
							
							<div class="widget widget_categories">
								<div class="widget_title">
									<h4><span>Categories</span></h4>
									</div>
								<ul class="arrows_list list_style">
									<li><a href="#"> Grapic Design (10)</a></li>
									<li><a href="#"> Web Design & Development (25)</a></li>
									<li><a href="#"> Photography (29)</a></li>
									<li><a href="#"> Custom Illustrations (19)</a></li>
									<li><a href="#"> Wordpress Themes(38)</a></li>
									<li><a href="#"> Videography (33)</a></li>
								</ul>
							</div>
							
							<div class="widget widget_about">
								<div class="widget_title">
									<h4><span>Basic Text Widget</span></h4>
									</div>
								<p>Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>

							
							<div class="widget widget_tags">
								<div class="widget_title">
									<h4><span>Tags Widget</span></h4>
								</div>
								<ul class="tags">
									<li><a href="#"><b>business</b></a></li>
									<li><a href="#">corporate</a></li>
									<li><a href="#">css3</a></li>
									<li><a href="#"><b>html5</b></a></li>
									<li><a href="#">javascript</a></li>
									<li><a href="#"><b>jquery</b></a></li>
									<li><a href="#">multipurpose</a></li>
									<li><a href="#"><b>mysql</b></a></li>
									<li><a href="#">portfolio</a></li>
									<li><a href="#">premium</a></li>
									<li><a href="#">responsive</a></li>
									<li><a href="#"><b>theme</b></a></li>
									<li><a href="#"><b>jQuery Rain</b></a></li>
								</ul>
							</div>
							
							<div class="widget widget_archives">
								<div class="widget_title">
									<h4><span>Archives</span></h4>
								</div>
								<ul class="archives_list list_style">
									<li><a href="#"> November 2015</a></li>
									<li><a href="#"> October 2015</a></li>
									<li><a href="#"> September 2015</a></li>
									<li><a href="#"> August 2015</a></li>
									<li><a href="#"> July 2015</a></li>
									<li><a href="#"> June 2015</a></li>
									<li><a href="#"> May 2015</a></li>
								</ul>
							</div>

						</div>
					</div>








				</div>
		</section>



        <!-- </div> -->
      </div>
        

      

      
            <%- include('../Navs/footer') %>