<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
    <div class="container">
        <div class="row mb-5 animated bounceInDown" style="margin-top: 70px;">   
                  
  
          <%- include('../Navs/feedback') %>
        </div>
      </div>
        

      

      
            <%- include('../Navs/footer') %>