<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
   <div class="container">
             <%- include('../Navs/navbar') %>
   </div>
   

    <header>
        <div class="view view-home intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container text-center white-text">
                        <div class="white-text text-center wow fadeInUp">
                            <h2 class="display-4 font-weight-bold mt-5 samdos-name">SAMDOS EXPRESS</h2>
                            <h5 class="help p-3 rgba-black-light text-uppercase">The recommendable place that creates the website of your dreams and brings it to reality.</h5>
                            <br>
                            <span class="market-text p-4">Thinking of starting a new business?, Looking for how to go about <strong>ONLINE </strong>business?, Do you need 
                            a platform  whereby you can start your <strong>e-marketing business idea? </strong>Then Let's help you in acheiving your dreams. (We are reliable, affordable and recommendable) </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class=" text-center py-5" id="blog">
            
               
                <div class="row">
                      <div class="col-md-12 mx-auto "> 
                        <div class="col-md-12 mx-auto"><span class="font-weight-bold brown-text text-capitalize title-header h2">what Samdos Express is all about</span> </div>
                          <div class="col-md-12 mx-auto mb-5 wow fadeIn">

                            <p align="justify">
                                    With Samdos nothing is impossible. It is very difficult to get a perfect desirable website. Nevertheless we have got you covered.
                                     We have three considerable offers for you to choose. The Starter Plan (Absolutely Free), The Standard Plan (Commercial Price), 
                                     The Ultimate Plan (Business Price). All our services are highly affordable without argument. With respect to all our clients we put you first!
                            </p>
                            <!-- <p align="justify" style="font-size:15px">On our website, we try to give you an insight into <strong>Computer Business</strong> and <strong>E-Marketing</strong>, and the opportunities that we can provide to help the society.
                              The design, coding and testing of this wonderful programs and softwares is a complex task - and one needing a highly trained workforce. Getting used to us, makes things easier for those that really has the passion and vision of 
                              aiming at the top through the digital skills. I hope that you find the information on our website useful and that it encourages you to make business with us. </p> -->
                            </div>

                         <div class="col-md-12 mx-auto"><span class="font-weight-bold px-lg-4 brown-text text-capitalize title-header h2">what we do best</span> </div>
                          <div class="col-md-12 mx-auto wow fadeIn mt-3">
                            <p align="justify" style="font-size:15px">So far, we've satisfied our clients and customers with stunning websites at the lowest cost they can afford, their acheivement in life with the help of digital skills is our first priority. 
                              We develop Websites, Softwares, Mobile Apps, Desktop Apps e.t.c. with the best rated programming languages in the world of Computer Science.
                            </p>
                          </div>

                    <div class="col-md-12 mx-auto mt-5 "><span class="font-weight-bold px-lg-4 brown-text text-capitalize title-header h2 ">Do you want to learn?</span> </div>
                    <div class="col-md-12 mx-auto wow fadeIn mt-3">
                      <p align="justify" style="font-size:15px">Besides, our vast resourcefulness in website creation, data analysis and design, we also provide training services.
                         Samdos also want to reduce incompetency in the computer science field. Therefore, we have provided a very pleasing and affordable plan for aspirants whose self-fulfilling goal is a hunger to be dependable and skilled in any desirable programming language.
                          You can get more information visit tutorial session.
                      </p>
                      <p align="justify" style="font-size:15px">
                            So far, we've satisfied our clients and customers with stunning and encapsulating websites at a reasonable cost. Your achievement as our client with the assistance of our digital skills is our first priority beyond interest.
                             We develop websites, Software’s, Mobile Apps, and Desktop Apps etc. with the best rated computer programming languages.’
                      </p>
                    </div>
                
            </div>
          </div>
    </div>
    </div>

    <div class="my-5 wow fadeIn">
            <div class="mx-auto text-center">
                 <span class="font-weight-bold px-lg-4 mb-5 brown-text title-header text-capitalize my-5 h2 ">what you get</span><hr>

            </div>
        <div class="container w">
        <div class="row centered">
          <br><br>
          <div class="col-lg-4 wow fadeInUp">
            <i class="fa fa-desktop"></i>
            <h4 class="h3">WEB DESIGN</h4>
            <p>Samdos Express provides and creates websites for Entrepreneurs, Students, Marketers and other variety of people with modernized web design. Our websites are always known to be implicit as well as engaging and we provide every attributes to build that captivating website that you so much desire. With many proficient Web Designers at our disposal, your dream personal or business website will not be truncated.</p>
        </div><!-- col-lg-4 -->
    
          <div class="col-lg-4 wow fadeInUp">
            <i class="fa fa-cogs"></i>
            <h4 class="h3">WEB DEVELOPMENT</h4>
            <p>Web Development broadly refers to the tasks associated with developing websites for hosting through Intranet (A Private Network) or Internet (World Wide Web). Web Programming which can equally be termed as website development is the creation of dynamic web applications. Without any shadow of doubt Web development is one of our biggest strength. </p>
          </div><!-- col-lg-4 -->
    
          <div class="col-lg-4 wow fadeInUp">
            <i class="fa fa-database"></i>
            <h4 class="h3">DATABASE MANAGEMENT</h4>
            <p>A database management system (DBMS) is a system software for creating and managing databases. A database is an organized collection of data, commonly stored and accessed electronically from a computer system. Our database experts would create for you a database Management System that provides users and programmers with a systematic way to create, retrieve, update and delete data in your database.</p>
          </div><!-- col-lg-4 -->
        </div><!-- row -->
        <br>
        <div class="row centered">
          <br><br>
          <div class="col-lg-4 wow fadeInDown">
            <i class="fa fa-heart"></i>
            <h4 class="h3">SOCIAL MEDIA</h4>
            <p>Social media are interactive computer-mediated technologies that facilitate the creation and sharing of information, ideas, career interests and other forms of expression via virtual communities and networks.  In Samdos, we handle social networking problems pretty comfortably.</p>
          </div><!-- col-lg-4 -->
    
          <div class="col-lg-4 wow fadeInDown">
            <i class="fa fa-shopping-cart"></i>
            <h4 class="h3">E-COMMERCE</h4>
            <p>E-commerce is an activity whereby commercial transactions are conducted electronically on the internet. Over the years, we have discovered that E-commerce is very pivotal in business. The influence of E-commerce shouldn’t be underestimated. We understand that competition is fierce, although it is also a factor but we should agree to conclusions that, by the dint of throwing your products on the webpage, it will ultimately fetch customers. It’s doesn’t work that way! There are other strategic plans that are applicable. </p>
          </div><!-- col-lg-4 -->
    
          <div class="col-lg-4 wow fadeInDown">
            <i class="fa fa-paw"></i>
            <h4 class="h3">GRAPHIC DESIGN</h4>
            <p>Graphics Design is the process of visual communication and problem-solving through the use of typography, photography and illustration. Graphic designers create visual concepts that inspire, inform, and transform. Use industry-leading tools to build innovative design projects and discover the skills needed to become an in-demand visual thinker and communicator. Our Graphics designers are highly professional in every graphics designing aspect. You can always rely on us!</p>
          </div><!-- col-lg-4 -->
        </div><!-- row -->
      </div><!-- container -->
    </div>
 



    <div id="dg">
        <div class="container">
            <h4 class="h2 mb-5 brown-text">WEBSITE PRICING PLANS</h4>

          <div class="row centered">
            <br>
            <div class="col-lg-4 wow bounceInDown">
                        <!-- START PRICING TABLE -->
                        <div class="pricing-option">
                            <div class="pricing-top">
                                <span class="pricing-edition my-5">Starter</span>
                                <span class="price">
                                    <sup>#</sup>
                                    <span class="price-amount">0</span>
                                    <small>K/web</small>
                                </span>
                            </div>
                            <ul>
                                <!-- <li><strong>10GB</strong> Storage</li>
                                <li>Up to <strong>50</strong> Users</li> -->
                                <li><strong>Free</strong> Domain</li>
                                <li><strong>Free</strong> Setup</li>
                                <li><strong>3-months</strong> Free support *</li>
                                <li>
                                        <div>
                                        
                                            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample" style="font-size: 20px;">
                                            INSTRUCTIONS
                                            </button>
                                        </div>
                                        <div class="collapse" id="collapseExample">
                                            <div class="mt-3">
                                                <p class="container" align="justify">
                                                    In this category, click the "GET STARTED NOW" button below to proceed, accept the terms and conditions, 
                                                    fill the information in the form ( <i>* required sections are very important</i> ) select <b>FREE WEBSITE</b>. <br><strong class="red-text">** </strong>
                                                     Compose your <b>BUSINESS PLAN</b> ( <i>not less than 250 words</i> ) or why 
                                                    you need a website (this section will be dealt with thoroughly by professionals, of which the best will be contacted through their 
                                                    emails only.) <br> Then submit the Form.
                                                </p>

                                            </div>
                                        </div>
                                </li>
                            </ul>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="pricing-signup">Get Started Now</a>


                        </div><!-- /pricing-option -->
                        <!-- END PRICING TABLE -->
            </div><!-- /col -->
            
            <div class="col-lg-4 wow bounceInUp">
                        <!-- START PRICING TABLE -->
                        <div class="pricing-option">
                            <div class="pricing-top ">
                                <span class="pricing-edition my-5">Standard</span>
                                <span class="price">
                                    <sup>#</sup>
                                    <span class="price-amount">25</span>
                                    <small>K/web</small>
                                </span>
                            </div>
                            <ul>
                                <!-- <li><strong>20GB</strong> Storage</li>
                                <li>Up to <strong>20</strong> Users</li> -->
                                <li><strong>Quality</strong> Domain and Hosting</li>
                                <li><strong>Free</strong> Setup</li>
                                <li><strong>6-months</strong> Free support *</li>
                                <li>
                                        <div>
                                        
                                            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseExample2"
                                            aria-expanded="false" aria-controls="collapseExample" style="font-size: 20px;">
                                            INSTRUCTIONS
                                            </button>
                                        </div>
                                        <div class="collapse" id="collapseExample2">
                                            <div class="mt-3">
                                                <p class="container" align="justify">
                                                    In this category, click the "PURCHASE NOW" button below to proceed, accept the terms and conditions, 
                                                    fill the information in the form ( <i>* required sections are very important</i> ) select <b>STANDARD WEBSITE</b>. <br><strong class="red-text">** </strong>
                                                     Compose your <b>BUSINESS PLAN</b> ( <i>not less than 250 words</i> ) Then submit the Form. ( *you shall be contacted as soon as possible through your Mobile Number or Your Email)
                                                </p>

                                            </div>
                                        </div>
                                </li>
                            </ul>
                            <a href="#"  data-toggle="modal" data-target="#myModal" class="pricing-signup">Purchase Now</a>
                        </div><!-- /pricing-option -->
                        <!-- END PRICING TABLE -->
            </div><!-- /col -->
            
            <div class="col-lg-4 wow bounceInDown">
                        <!-- START PRICING TABLE -->
                        <div class="pricing-option">
                            <div class="pricing-top">
                                <span class="special-label">OFFER!</span>
                                <span class="pricing-edition my-5">Ultimate</span>
                                <span class="price">
                                    <sup>#</sup>
                                    <span class="price-amount">100</span>
                                    <small>K/web</small>
                                </span>
                            </div>
                            <ul>
                                <!-- <li><strong>150GB</strong> Storage</li>
                                <li><strong>Unlimited</strong> Users</li> -->
                                <li><strong>Quality</strong> Domain and Hosting</li>
                                <li><strong>Free</strong> Setup</li>
                                <li><strong>1-year</strong> Free support *</li>
                                <li>
                                        <div>
                                        
                                            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseExample3"
                                            aria-expanded="false" aria-controls="collapseExample" style="font-size: 20px;">
                                            INSTRUCTIONS
                                            </button>
                                        </div>
                                        <div class="collapse" id="collapseExample3">
                                            <div class="mt-3">
                                                <p class="container" align="justify">
                                                    In this category, click the "PURCHASE NOW" button below to proceed, accept the terms and conditions, 
                                                    fill the information in the form ( <i>* required sections are very important</i> ) select <b>ULTIMATE WEBSITE</b>. <br><strong class="red-text">** </strong>
                                                     Compose your <b>BUSINESS PLAN</b> ( <i>not less than 250 words</i> ) Then submit the Form. ( *you shall be contacted as soon as possible through your Mobile Number or Your Email)
                                                </p>

                                            </div>
                                        </div>
                                </li>
                            </ul>
                            <a href="#"  data-toggle="modal" data-target="#myModal" class="pricing-signup">Purchase Now</a>
                        </div><!-- /pricing-option -->
                        <!-- END PRICING TABLE -->
            </div><!-- /col -->
          </div><!-- row -->
        </div><!-- container -->
      </div>


<div class="container">

    <section class="feature-block white wow fadeIn row super_sub_content">
        <div class="col-lg-6 wow fadeInLeft">
            <div class="text-center wow fadeInLeft">
                <img src="stylesheets/img/mobile-1.png" class="img-fluid my-5"alt=""/>
            </div>
        </div>

        <div class="col-lg-6 wow fadeInRight">
            <h4>Responsive Designs</h4>
            <p>
                Samdos Express Create a Well Responsive Websites applicable to all Browsers, Mobile Devices, Desktop computers and any other devices width.
              Responsive Web Design is the approach that suggests that design and development should respond to the user's behavior and 
              environment based on screen size, platform and orientation. The practice consists of a mix of flexible grids and layouts, images 
              and an intelligent use of CSS media queries
            </p>
            <hr>
            <i class="fa fa-apple"></i>
            <i class="fa fa-windows"></i>
            <i class="fa fa-clock-o"></i>
            <i class="fa fa-android"></i>
            <i class="fa fa-paperclip"></i>
            <i class="fa fa-skype"></i>
            <hr>
            <div class="container d-flex justify-content-center wow zoomIn">
                    <a href="/tutorial"><button class="btn btn-outline-danger" style="font-size: 20px;">Start Tutorial Now</button></a>
            </div>
        </div>
    </section>
</div>




<div class="container" id="print">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title h1 mx-auto" id="myModalLabel">
               TERMS AND CONDITIONS
            </h4>
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            
         </div>
         <div class="modal-body">
            <p>
                  These Terms and Conditions ("Agreement") governs the use of the services ("Service") that are made available by Samdos.com Solutions Inc. ("Samdos.com", "we" or "us"). These Terms and Conditions represent the whole agreement and understanding between Samdos.com and the individual or entity who subscribes to our service.
            </p>
            <p>
                PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the Service, you agree to comply with all of the terms and conditions set out in this Agreement. Samdos.com may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that Samdos.com believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party.
            </p>
            <p>
                Samdos.com may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modifications shall be made effective for all Subscribers upon posting of the modified Agreement to this web address (URL): http://www.Samdos.com. You are responsible to read this document from time to time to ensure that your use of the Service remains in compliance with this Agreement.
            </p>
            <p>
                Samdos.com offers Subscribers web development, website design, and database management for the duration of the service term purchased from Samdos.com.

                Services are provided on the basis of facility and equipment availability. Samdos.com reserves the right to modify, change, or discontinue any aspect of the Services at any time.
                
                Access to the web and email servers is terminated upon expiry of the Service.All service trials and promotion offers are considered to be delivered in full upon the completion of the service term stated on the trial or offer invoice found in your account control panel. Samdos.com is not obligated to provide reimbursement for any proration or service term adjustment on service trials or promotional offers.

                Promotional offers, including special introductory rates, promotional rates, or any non-regular pricing, are only available to new customers and are only valid for the initial term. All hosting services will renew at the regular renewal rate.
                For starters, A simple website is been offered which can later be upgrading after meeting the requirements provided by the management.
                Standard and Ultimate sections are been attended to provided the user meet the requirements.
            </p>
            <p>
                Samdos.com provides Subscribers with a non-exclusive, non-transferable, limited license to use the Website Builder. The Website Builder is developed and owned by Samdos.com, and any reproduction, modification, creation of derivative works from or redistribution of the Website Builder is expressly prohibited. The Website Builder, its structure, sequence, 
                organization and source code are considered trade secrets of Samdos.com and are protected by trade secret laws.In the event of a dispute regarding any Image obtained via the Website Builder, you hereby release Samdos.com, its officers, directors, owners, agents, and employees from claims, demands, and damages, actual and consequential, of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with such disputes. Samdos.com is not a party to, and shall not be involved in or responsible for, transactions, agreements, and/or disputes between you and any third party.
            </p>
            <p>
                Samdos.com's email service provides customers with the capability to send and receive email via the Internet. Samdos.com retains the right, at our sole discretion, to restrict the volume of messages transmitted or received by you in order to maintain the quality of our email services to other Subscribers and to protect our computer systems.

                As an owner and operator of the equipment and other resources utilized to provide services, Samdos.com has the legal right to block electronic communications from other entities on the Internet.
                
                Samdos.com relies on the support of its sponsors and advertisers to help offset the cost of the Services offered to its Subscribers. You acknowledge that as part of your Samdos.com Service, advertisement sponsored email newsletters may be sent to Subscribers and Samdos.com email service email accounts.

            </p>
            <p>
                All Samdos.com fees and charges are quoted and billed in Nigeria Currency unless otherwise noted. Samdos.com uses an automated payment processing system and only accepts credit card or PayPal payments at this time. All Subscribers are required to maintain valid payment information on file for the processing of any applicable service fees. At its sole discretion, Samdos.com may use credit card issuer-approved services, such as VISA Account Updater and MasterCard Automatic Billing Updater, to acquire updated payment information for the purpose of processing outstanding payments that are on your account.

                Samdos.com may take any reasonable action to validate your payment and registration information, and collect all payments due. You agree to pay all attorney and collection fees arising from any efforts to collect any past due amounts from you, to the extent allowed by law.
                
                Service fees are due at the time of order or on the day of renewal. All fees must be paid in full.
            </p>
            <p>
                Samdos.com does not charge you any fees relating to the processing of transactions under your account ("Transaction Fees"). However, your selected payment processor, such as PayPal or Stripe, may still charge you Transaction Fees for each payment you receive. You will be solely responsible for any such Transaction Fees.
                Maintenance and upgrading of the provided website shall be done by Samdos Express Management only. Payments shall be required through this process to any of 
                the departments involved.
            </p>
              <p>
                  Samdos.com may terminate your Service under the following circumstances (non-exclusive list):

                  Non-payment of fees
                  You are in breach of any term or condition of this Agreement
                  Your use of the Service disrupts Samdos.com business operations or affects any other party
                  All Subscriber data is removed from Samdos.com servers for such terminations.
                  
                  You may request account termination or hosting plan changes at any time by contacting our Customer Service team either through phone or case ticket. Our contact information can be found on the Support page of our website: http://www.Samdos.com/contact-us/
                  
                  When submitting your cancellation request, you must provide the correct username and password for your account for verification. Incomplete cancellation requests will be deemed invalid and will not be processed. You will be responsible for any service fees that arise from your failure to cancel your account.
              </p>
            <p>
                When you apply to use Samdos.com services, you will be asked to select a Subscriber ID and Password. The Subscriber ID and Password are the means through which you access certain services. You acknowledge and agree that it is your responsibility to safeguard the Subscriber ID and Password you select from any unauthorized use. IN NO EVENT WILL Samdos.com BE LIABLE FOR THE UNAUTHORIZED USE OR MISUSE OF YOUR SUBSCRIBER ID OR PASSWORD. Subscribers are responsible for maintaining accurate account information at all times, including credit card and contact information. This information can be updated in your account control panel.
            </p>
           
            <p>
                You agree that, unless other instructions are posted on Samdos.com's website, any notices required to be given under this Agreement will be deemed to have been given if delivered by email or fax, or sent by registered mail or by courier to each of the parties in accordance with the most current contact information you have provided to us, and the contact information for Samdos.com posted on the Samdos.com website. All notices shall be effective upon receipt, except that email and fax notices shall be effective upon transmission.
            </p>
        
            <p>
                Samdos.com does not accept agreements and payments from persons under the legal age of 16 years. By submitting your account application, you confirm that you are over 16 years of age or your parent or legal guardian has agreed to accept this Agreement on your behalf.
            </p>
            <p>
                No waiver of any of the provisions of this Agreement will be deemed to constitute a waiver of any other provision nor shall such a waiver constitute a continuing waiver unless otherwise expressly provided in writing duly executed by the party to be bound thereby.
            </p>
            <p>
                This Agreement, as may be updated from time to time and posted at http://www.Samdos.com, represents the complete agreement and understanding between us with respect to the Service and supersedes any other written or oral agreement.
            </p>
            <div class="checkbox">
                <label class="font-weight-bold"><input type="checkbox" value="" id="agreed" onclick="myfunction();">I AGREED TO THE TERMS AND CONDITIONS</label>

             </div>
         </div>

         <div class="modal-footer" style="visibility: hidden;" id="visible">
            <button type="button" class="btn btn-outline-primary btn-lg" data-dismiss="modal" style="width: 150px; font-size: 18px;">Close</button>
            <button type="button" class="btn btn-success btn-lg p-3" style="width: 150px; font-size: 18px;">
               <a href="https://docs.google.com/forms/d/e/1FAIpQLSfzGN-xwI8K31OVb4tYZuI-ZfVgnD7RilR3GPRNPGA3qfMvHg/viewform?usp=sf_link" class="white-text">Proceed</a>
            </button>
         </div>


      </div>
</div></div>


</div>


<div class="container">
  
      <div class="grey_bg row sub_content">
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
              <span class="circular-chart-big" data-percent="94">
                  <span class="percent"></span>
              </span>
              <h5 class="circular-title">Web Development</h5>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
              <span class="circular-chart-big" data-percent="87">
                  <span class="percent"></span>
              </span>
              <h5 class="circular-title">Graphic Design</h5>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
              <span class="circular-chart-big" data-percent="77">
                  <span class="percent"></span>
              </span>
              <h5 class="circular-title">Database Management</h5>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
              <span class="circular-chart-big" data-percent="82">
                  <span class="percent"></span>
              </span>
              <h5 class="circular-title">E-Comerce</h5>
          </div>
      </div>
</div>



<div class="container">
  <div class="progress-bar-acc row super_sub_content">
    <div class="col-lg-6 ">
        <ul class="progress-skill-bar mrg-0">
            <li>
                <span class="lable">70%</span>
                <div class="progress_skill">
                    <div data-height="100" role="progressbar" data-value="70" class="bar" style="width: 0px; height: 0px;">
                        HTML
                    </div>
                </div>
            </li>
            <li>
                <span class="lable">80%</span>
                <div class="progress_skill">
                    <div data-height="100" role="progressbar" data-value="80" class="bar" style="width: 0px; height: 0px;">
                        CSS
                    </div>
                </div>
            </li>
            <li>
                <span class="lable">70%</span>
                <div class="progress_skill">
                    <div data-height="100" role="progressbar" data-value="70" class="bar" style="width: 0px; height: 0px;">
                        JavaScript
                    </div>
                </div>
            </li>
            <li>
                <span class="lable">75%</span>
                <div class="progress_skill">
                    <div data-height="100" role="progressbar" data-value="75" class="bar" style="width: 0px; height: 0px;">
                        git
                    </div>
                </div>
            </li>
            <li>
                <span class="lable">66%</span>
                <div class="progress_skill">
                    <div data-height="100" role="progressbar" data-value="66" class="bar" style="width: 0px; height: 0px;">
                        Mongoose
                    </div>
                </div>
            </li>

            <li>
              <span class="lable">60%</span>
              <div class="progress_skill">
                  <div data-height="100" role="progressbar" data-value="60" class="bar" style="width: 0px; height: 0px;">
                      express js
                  </div>
              </div>
          </li>
          <li>
            <span class="lable">50%</span>
            <div class="progress_skill">
                <div data-height="100" role="progressbar" data-value="50" class="bar" style="width: 0px; height: 0px;">
                    node js
                </div>
            </div>
        </li>
        <li>
          <span class="lable">55%</span>
          <div class="progress_skill">
              <div data-height="100" role="progressbar" data-value="55" class="bar" style="width: 0px; height: 0px;">
                  jquery
              </div>
          </div>
      </li>
        </ul>
    </div>
    <div class="col-lg-6">
      <div class="text-center w  wow fadeInRight">
          <img src="stylesheets/img/samdos.jpg" class="img-fluid mb-5"alt=""/>
      </div>
  </div>
</div>
</div>




      <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                        href="#collapseOne">
                        <div class=" wow fadeInDown">
                            <div class="align-center justify-content-center d-flex navbar-color p-4 font-weight-bold white-text text-center title-header">CLICK HERE FOR RIDDLES <i class="fa fa-question white-text"></i></div> 
                          </div>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      
                <div class="container ">
            <div class="row">
              <div class="col-md-12">
                <div class="align-center justify-content-center d-flex m-3 font-weight-bold black-text text-center">PLAY AND WIN RECHARGE CARDS ACCROSS ALL NETWORKS <i class="fa fa-question white-text"></i></div> 
                <p class="red-text">Follow the instuctions below on how to play</p>
                <ol style="font-size:13px">
                  <li>Get at least Three (3) questions Right</li>
                  <li>Check for the questions' deadline</li>
                  <li>Send your answers through the Feedback Section</li>
                  <ul>
                    <li>Your Surname First</li>
                    <li>Other names</li>
                    <li>Your Email</li>
                    <li>In the Message Session, Provide your answers with Your mobile number and the Network provider, then Submit</li>
                  </ul>
                  <li>Wait for the deadline for answers to be posted</li>
                  <li>Check your name at the Top 5. If listed, congrats</li>
                  <li>Kindly note, Airtime is being transfer to the number you supply</li>
                </ol>
                <p class="red-text">Note: The Feedback session is unavailable at the moment, kindly forward your details to "Sheygun@aol.com"</p>
              </div>
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 80%; font-weight: bold;">QUESTIONS</th>
                      <th  style="width: 20%; font-weight: bold;">ANSWERS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 80%; font-size: 14px;">Why didn't the skeleton cross the road?</td>
                      <td  style="width: 20%;"></td>
                    </tr>
                    <tr>
                      <td style="width: 80%; font-size: 14px;">What is a pirates favorite letter?</td>
                      <td  style="width: 20%;"></td>
                    </tr>
                    <tr>
                      <td style="width: 80%; font-size: 14px;">Why can't your nose be 12 inches long?</td>
                      <td  style="width: 20%;"></td>
                    </tr>
                    <tr>
                      <td style="width: 80%; font-size: 14px;">What is green and smells like blue paints?</td>
                      <td  style="width: 20%;"></td>
                    </tr>
                    <tr>
                      <td style="width: 80%; font-size: 14px;">What has a head, a tail, is brown, and has no legs?</td>
                      <td  style="width: 20%;"></td>
                    </tr>
                  </tbody>
                </table>
                <p>Deadline -- 24th of March, 2019</p>
                </div>

                <div class="col-md-12">
                  <div class="align-center justify-content-center d-flex brown p-3 m-3 font-weight-bold white-text text-center title-header">LAST WEEK TOP 5 WINNERS <i class="fa fa-question white-text"></i></div> 
                  <table class="table">
                    <thead>
                      <tr>
                        <td style="font-size:12px">Olabayo Segun Emmanuel</td>
                      </tr>
                      <tr>
                        <td style="font-size:12px">Chuck Isaiah</td>
                      </tr>
                      <tr>
                        <td style="font-size:12px">Adewale Jacob Opeyemi</td>
                      </tr>
                      <tr>
                        <td style="font-size:12px">Bukola Hannah</td>
                      </tr>
                      <tr>
                        <td style="font-size:12px">Ibukun Temitope Samuel</td>
                      </tr>
                    </thead>
                  </table>
                  <p class="red-text">Best Regards,</p>
                </div>
              </div>
            </div>
                    </div>
                  </div>
                </div>
       
        </div>
      

        


        <%- include('../Navs/advert') %>
      
            <%- include('../Navs/footer') %>

            