<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> SAMDOS EXPRESS</title>
  <link rel="shortcut icon" href="stylesheets/img/logo.jpg">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="stylesheets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fontawesome-free-5.4.1-web/css/all.css"/>
</head>

</head>

<body>

    <!--Main Navigation-->
    <header>
    
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar brown">
          <img src="stylesheets/img/samdos.jpeg" class="img-logo">
            <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
              <span class="redtext"></span></strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="nav navbar-nav ml-auto smooth-scroll">
                  
                            <li class="nav-item active">
                              <a class="nav-link waves-effect waves-light active" href="#"><i class="fa fa-home"></i>HOME
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link waves-effect waves-light" href="#blog"><i class="fa fa-pen"></i> BLOG</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link waves-effect waves-light" href="#gallery"><i class="fa fa-desktop"></i>ADVERTS</a>
                            </li>
                            
                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>BOOKS</a>
                              <div class="dropdown-menu dropdown-primary brown white-text" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item waves-effect waves-light disabled green-text font-weight-bold" href="#">CSC 337 Material Dr. Rahman</a>
                                <a class="dropdown-item waves-effect waves-light green-text font-weight-bold" href="#">DR WUSU NUMERICAL ANALYSIS PDF MAT332</a>
                               
                              </div>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" href="#contact"><i class="fa fa-fax"></i>FEEDBACK</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i>SEARCH</a>
                            </li>
                      
                      
                          </ul>
            </div>
        </nav>

        

        <div class="view intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container text-center white-text">
                        <div class="white-text text-center wow fadeInUp">
                            <h2 class="display-5 font-weight-bold mt-5 samdos-name">SAMDOS EXPRESS</h2>
                            <h5 class="help p-3 rgba-black-light">LET'S HELP YOU <strong>PLAN</strong> AND <strong>DEVELOP</strong> YOUR MOTIVE ON BUSINESS</h5>
                            <br>
                            <p class="market-text">Thinking of starting a new business?, Looking for how to go about <strong>ONLINE </strong>business?, Do you need 
                            a platform  whereby you can start your <strong>e-marketing business idea?</strong>,Then Let's help you in acheiving your dreams</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header>
    <!--Main Navigation-->
    
    <!--Main Layout-->
    <main class="text-center py-5" id="blog">
        
        <div class="container">
            <div class="align-center m-3 font-weight-bold red-text"  style="font-size: 24px;">WELCOME NOTE <i class="fa fa-pen red-text"></i></div>
            <div class="row">
                  
                <div class="col-md-10 mx-auto">
                    <p align="justify"><strong>On our website, we try to give you an insight into <strong>Computer Business</strong> and <strong>E-Marketing</strong>, and the opportunities that we can provide to help the society.
                    The design, coding and testing of this wonderful programs and softwares is a complex task - and one needing a highly trained workforce. Getting used to us, makes things easier for those that really has the passion and vision of 
                  aiming at the top through the digital skills. I hope that you find the information on our website useful and that it encourages you to make business with us.</p>

                </div>
               
                <div class="col-md-10 mx-auto">
                    <p class="font-weight-bold px-lg-4 red-text title-header">WHAT WE DO BEST</p>
                </div>
                  <div class="col-md-10 mx-auto">

                    <p align="justify">So far, we've satisfied our clients and customers with stunning websites at the lowest cost they can afford, their acheivement in life with the help of digital skills is our first priority. 
                      We develop Websites, Softwares, Mobile Apps, Desktop Apps e.t.c. with the best rated programming languages in the world of Computer Science. Languages like <strong> HTML5, CSS5, XML, JAVA, JAVASCRIPT, NODE JS, EXPRESS JS, MONGOOSE DATABASE, MLAB, MYSQL, C++, GO, SCALA</strong> and the likes.
                    </p>

                </div>

                <div class="col-md-10 mx-auto">
                  <p class="font-weight-bold px-lg-4 red-text title-header">WHAT YOU GET</p>
              </div>
                <div class="col-md-10 mx-auto">

                    <ul class="list-group">
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">FREE DEFAULT WEBSITE FOR STARTERS</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">DATABASE MANAGEMMENT</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">AFFORDABLE MAINTENANCE</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">PROFESSIONAL HOSTING AND DOMAIN</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">SOCIAL MEDIA AWARENESS</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">e-MARKETING SCHEME</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">e-BUSINESS SCHEME</li>
                        <li class="list-group-item list-group-item black white-text get-text" style="border: 3px solid white;">FREE DEFAULT GRAPHIC DESIGNS FOR YOUR WEBSITE</li>
                        
                    </ul>

              </div>

            </div>
        </div>
    
    </main>

        <!-- Card -->
    <div class="container">
      <div class="row">

        <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
          <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">WONDERFUL BLOGS</p>
        </div>


          <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">

        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1181675.jpeg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-strong"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
        
            <!-- Social shares button -->
            <!-- Title -->
            <h6 class="card-title">HOW TO DEVELOP YOUR OWN WEBSITES</h6>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system. All you need ...</p>
            <!-- Link -->
            <a href="/blog1" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
        
   
          </div>
        
        </div></div>

  <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <!-- Card -->
            <!-- Card Dark -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->

    <!-- Title -->
    <h6 class="card-title text-center text-uppercase">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
    <!-- Link -->
    <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>

  </div>

</div>
<!-- Card Dark -->
              <!-- Card -->
          </div>

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <!-- Card -->
            <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->

                <!-- Title -->
                <h6 class="card-title text-center text-uppercase">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="text-editting card-text white-text mb-4">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                    So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                <!-- Link -->
                <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>
        

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
             <!-- Card -->
             <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-strong"></div>
                </a>
              </div>
            
              <!-- Card content -->
              <div class="card-body elegant-color white-text rounded-bottom">
            
                <!-- Social shares button -->
                
                <!-- Title -->
                <h6 class="card-title text-uppercase">YOU TOO CAN BE KNOWN</h6>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...</p>
                <!-- Link -->
                <a href="/blog4" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
            
              </div>
            
            </div>
              <!-- Card -->
          </div>
        </div>

        <div class="container">
        <div class="d-flex align-item-center h-100 justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
              
              <li class="page-item disabled"><a class="page-link">Prev</a></li>
              <li class="page-item disabled">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li><i id="gallery"></i>
            </ul>
          </nav>
        </div></div>
    </div>
    <!-- .............OTHER BLOGS ............. -->

    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="align-center justify-content-center d-flex brown p-4 ">
                <div class=" font-weight-bold white-text text-center title-header">RECENT BLOGS <i class="fa fa-book white-text"></i></div> 
        
            </div>
          </div>
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr class="text-center">
                <td><a href="/blog5" class="red-text font-weight-bold">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog1" class="red-text font-weight-bold text-capitalize">How to develop your own website</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog2" class="red-text font-weight-bold text-capitalize">you can be successful with your small business</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog3" class="red-text font-weight-bold text-capitalize">40 top most frequently asked job interview question</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog4" class="red-text font-weight-bold text-capitalize">You To Can Be Known</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <!-- ..............riddles ............. -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="align-center justify-content-center d-flex brown p-4 font-weight-bold white-text text-center title-header">RIDDLES FOR THE WEEKS <i class="fa fa-question white-text"></i></div> 
        </div>
        <div class="col-md-12">
          <div class="align-center justify-content-center d-flex m-3 font-weight-bold black-text text-center">PLAY AND WIN RECHARGE CARDS ACCROSS ALL NETWORKS <i class="fa fa-question white-text"></i></div> 
          <p>Follow the instuctions below on how to play</p>
          <ol>
            <li>Get at least Three (3) questions Right</li>
            <li>Check for the questions' deadline</li>
            <li>Send your answers through the Feedback Section</li>
            <ul>
              <li>Your Surname First</li>
              <li>Other names</li>
              <li>Your Email</li>
              <li>In the Message Session, Provide your answers with Your mobile number and the Network provider, then Submit</li>
            </ul>
            <li>Wait for the deadline for answers to be posted</li>
            <li>Check your name at the Top 5. If listed, congrats</li>
            <li>Airtime is being transfer to the number you supply</li>
          </ol>
          <p class="red-text">Note: The Feedback session is unavailable at the moment, kindly forward your details to "Sheygun@aol.com"</p>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 80%; font-weight: bold;">QUESTIONS</th>
                <th  style="width: 20%; font-weight: bold;">ANSWERS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 80%;">Why didn't the skeleton cross the road?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%;">What is a pirates favorite letter?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%;">Why can't your nose be 12 inches long?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%;">What is green and smells like blue paints?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%;">What has a head, a tail, is brown, and has no legs?</td>
                <td  style="width: 20%;"></td>
              </tr>
            </tbody>
          </table>
          <p>Deadline -- 12th of November, 2018</p>
          </div>

          <div class="col-md-12">
            <div class="align-center justify-content-center d-flex brown p-3 m-3 font-weight-bold white-text text-center title-header">LAST WEEK TOP 5 WINNERS <i class="fa fa-question white-text"></i></div> 
            <table class="table">
              <thead>
                <tr>
                  <td>Olabayo Segun Emmanuel</td>
                </tr>
                <tr>
                  <td>Chuck Isaiah</td>
                </tr>
                <tr>
                  <td>Adewale Jacob Opeyemi</td>
                </tr>
                <tr>
                  <td>Bukola Hannah</td>
                </tr>
                <tr>
                  <td>Ibukun Temitope Samuel</td>
                </tr>
              </thead>
            </table>
            <p class="red-text">Best Regards,</p>
          </div>
        </div>
      </div>
    </div>




        <!-- carousel -->
                <!--Carousel Wrapper-->
<div class="row">
  <div class="col-lg-6">             
 <div class="container" >              
<!--Carousel Wrapper-->

<div class="row">
    <div class="col-lg-12">
            <div class="text-center justify-content-center m-3 d-flex font-weight-bold red-text" style="font-size: 30px;">ADVERTS <i class="fa fa-desktop fa-1x red-text m-2"></i></div>
    </div>
</div>
  <div class="col-lg-9 col-md-8 col-sm-8 mx-auto">
      <div id="carousel-example-2" class="carousel slide carousel-fade mb-5 tope" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/advert.jpeg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h3-responsive">Let's help you publish your product</h6>
          <div class="mask rgba-black-strong"></div>
          <!-- <p>First text</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/samdos.jpeg" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Advertise here</h3>
          <!-- <p>Secondary text</p> -->
        </div>
      </div>

      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block mx-auto resize img-fluid" src="stylesheets/img/logo.jpg" alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Advertise here</h3>
            <!-- <p>Secondary text</p> -->
          </div>
        </div>


    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div> <i id="contact"></i>
  </div>
  <!--/.Carousel Wrapper--></div></div>


<div class="col-lg-5"> 
<div class="row" id="signup">
    <div class="mx-auto mb-4  container" style="width: 600px;"><br>
                <!-- Material form register -->
 <div class="container">
<div class="card mt-1 ">

    <h5 class="card-header brown white-text text-center py-4">
        <strong><i class="fa fa-fax mr-3 text-uppercase"></i>FEEDBACK</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="/error" method="GET">

        
            <!-- First name -->
            <div class="md-form">
                <input type="text" id="materialRegisterFormFirstName" class="form-control">
                <label for="materialRegisterFormFirstName">First name</label>
            </div>
           <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormLastName" class="form-control">
                <label for="materialRegisterFormLastName">Last name</label>
            </div>
    
    <!-- E-mail -->
    <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail" class="form-control">
        <label for="materialRegisterFormEmail">E-mail</label>
    </div>
    <!-- Phone number -->
    <div class="md-form">
        <textarea type="text" id="materialRegisterFormText" class="form-control p-1" aria-describedby="materialRegisterFormPhoneHelpBlock"></textarea>
        <label for="materialRegisterFormText">Messages</label>
        
    </div>
    
    <!-- Newsletter -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
        <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>
    
    <div class="md-form">
        </i><input type="submit" name="submit" class="btn btn-brown" value="SUBMIT">
    </div>
    
    </form>
    <!-- Form -->
    </div>
    
    

</div></div>
<!-- Material form register -->
            </div>
          </div>
        
        </div></div>

          <!-- carousel -->

          <div class="row">
            <div class="col-lg-12 red-text p-2">
              <div class="mx-auto align-item-center justify-content-center d-flex font-weight-bold" style="font-size: 24px;">
                <span class="ml-1 align-center text-center"><strong>OUR EXCEPTIONAL PASSION</strong></span>
            </div>
          </div>
                
          </div>
          <div class="row ml-5 mx-auto align-item-center justify-content-center d-flex">
              <div class="col-md-3 m-2  black mb-1">
                 
                  <div class="">
                     <i class="fa fa-address-book p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">WEB DEVELOPMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-database p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text" >DATABASE MANAGEMENT</strong>
                  </div>
              </div>

              <div class="col-md-3 m-2 black mb-1">
                 
                  <div class="">
                     <i class="fa fa-server p-3 white-text fa-2x"></i>
                    <strong class="muted white-text passion-text">SOFTWARE ENGINEERING</strong>
                  </div>
              </div>
            </div>

            <div class="row ml-5 mb-4 mx-auto align-item-center justify-content-center d-flex">
                <div class="col-md-3 m-2  black mb-1">
                   
                    <div class="">
                       <i class="fa fa-share p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SOCIAL MEDIA MARKETING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-paw p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">GRAPHIC DESIGNING</strong>
                    </div>
                </div>
  
                <div class="col-md-3 m-2 black mb-1">
                   
                    <div class="">
                       <i class="fa fa-laptop p-3 white-text fa-2x"></i>
                      <strong class="muted white-text passion-text">SYSTEM ANALYST</strong>
                    </div>
                </div>
              </div>




      <!-- Footer -->
<footer class="page-footer font-small brown darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row mb-4">
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                    <strong>ABOUT US</strong>
                </div>
                <div class="col-md-3">
                  <img src="stylesheets/img/IMG_20180210_184952_836.jpg" alt="about image" height="80" width="100">
                </div>
                  <div class="col-md-9">
                      <p align="justify">Olabayo Segun Emmanuel popularly known as Hon. Sheygun is the Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>, A Developer of Professional Websites, Database Administrator, Software programmer, Project Manager and a Software Engineer.</p>
                  </div>
                  <div class="col-md-12">
                      <p align="justify">He is a graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World.<br>
                      His major research interest areas are Web and Software Developments. He is from the family of six.</p>
                  </div>
              </div>
          </div>
  
  
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12 mx-auto d-flex align-item-center justify-content-center white-text" style="font-size: 24px;">
                      <strong>CONTACT INFO</strong>
                  </div>

                  <div class="col-md-12">
                      <div class="row ml-2 mr-3">
                          <div class="col-md-4">
                            <div class="">
                              <i class="fa fa-home fa-2x ml-4"></i><br>
                              <span>Adewale Awolowo Rd, Lekki Phase1,<br>Victoria Island, <br> Lagos State, <br> Nigeria.</span>
                              <hr class="hr-light">
                            </div>
                              
                          </div>
                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-phone-square fa-2x ml-4"></i><br>
                                  <span>+234-810-212-9149<br>+234-818-062-8983</span>
                                  <hr class="hr-light">
                                </div>
                          </div>

                          <div class="col-md-4">
                              <div class="">
                                  <i class="fa fa-envelope fa-2x ml-4"></i><br>
                                  <span>hollasheg@gmail.com<br>hollabayorsheygun@yahoo.com<br> sheygun@aol.com</span>
                                  <span>Website</span>
                                  <span>www.samdos.com</span>
                                  
                                </div>
                          </div>

                  </div>
                  </div>
                  
                </div>
            </div>


          </div>
        </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 mb-0">Terms and Conditions Apply</div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Sheygun Technology</a>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- Footer -->


    <!--Main Layout-->
  <!-- /Start your project here-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
    </body>
</html>
