<!DOCTYPE html>
<html lang="en">

        <%- include('../Navs/html') %>

<body>
        <div class="row p-5 ">
            <div class="col-md-3">
                    <img src="stylesheets/img/samdos.jpeg" height="100" width="150">
            </div>
            <div class="col-md-5">
                    <h3 class="red-text font-weight-bold text-center">UNAVAILABLE AT THE MOMENT</h3>
                    <p class="text-center"><a href="/home"><i><strong> click here</strong></i></a> to go back home</p>
            </div>
        </div>
  <!-- /Start your project here-->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
    </body>
</html>
